@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Pagina Restrita";
}



<div class="text-center">
    <p>Essa pagina destina-se apenas a usuarios ADMINISTRADORES</p>
    <p><a asp-controller="Home" asp-action="Index">Clique aqui para VOLTAR</a></p>
</div>
